# jupyter
.ipynb*

# vim
.vim*

# other
third_party/WebKit/Source/devtools/front_end/audits2/lighthouse/renderer/logger.js
third_party/WebKit/Source/devtools/front_end/audits2/lighthouse/renderer/report-ui-features.js

# working files
.vim/viminfo
.vim/swaps/*
.vim/undo

# credentials files
.gitconfig.local
.boto 

# API keys and other credentials
.extra

# no thx
node_modules

# Thumbnail cache files
._*
Thumbs.db

# Compiled Python files
*.pyc

# fish shell
fishd.*
fish/config.fish.backup
.config/fish/fish_history
fish/fish_history
fish/fish_variables

# random
shilocation
